<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="jee.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1 style="color: red;">Collegedunia.com</h1>
      <div class="about-section">
<p>
    Students can use Collegedunia.com as one stop destination to search about their dream college, available courses, admission process and lots more interactive tools to simplify the process of finding alma-mater. The website has the repository of more than 20,000 colleges and 6000 courses categorized in different streams like Management, Engineering, Medical, Arts and much more. One can classify colleges on the basis of location, ranking, ratings, fees and cutoff for different competitive exams.<br />
    College Dunia is an extensive search engine for the students, parents, and education industry players who are seeking information on higher education sector in India and abroad. One can rely on Collegedunia.com for getting most brief and relevant data on colleges and universities.
          <br />
          <button><a href="https://collegedunia.com/about">More Info</a></button>
        </p>
      </div>
    </div>
  </body>
</html>